<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <kotoha>
      <configuration type="Kotoha.KeywordSearchConfiguration, Kotoha">
        <!-- A KeywordSearchOptions that is used when no options supplied. -->
        <defaultKeywordSearchOptions type="Kotoha.KeywordSearchOptions, Kotoha">
          <SearchType>And</SearchType>
          <Condition>Contains</Condition>
        </defaultKeywordSearchOptions>
        <searchTargets hint="list:AddSearchTarget">
          <searchTarget id="blog" type="Kotoha.KeywordSearchTarget, Kotoha">
            <!-- A identifier of this search target. This must be unique across search targets. -->
            <param desc="id">$(id)</param>
            <!--
              Target fields and its boosting values of a keyword search.
              If you want to use a field without boosting, remove the boost attribute or specify 0 to that's value.
            -->
            <fields hint="raw:AddField">
              <field name="Title"             boost="5" />
              <field name="Tags"              boost="4" />
              <field name="Body"              boost="4" />
              <field name="Category"          boost="2" />
              <field name="Author"            boost="2" />
              <field name="Html Title"                  />
              <field name="Meta Description"            />
              <field name="Meta Keywords"               />
            </fields>
          </searchTarget>
        </searchTargets>
      </configuration>
    </kotoha>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration search:require="solr">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <!-- A computed field for keyword search. Set the search target's ID to the 'searchTargetId' attribute. -->
              <field fieldName="ks_blog" returnType="text" searchTargetId="blog">Kotoha.KeywordSearchContentIndexField, Kotoha</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
