<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" >
    <kotoha>
      <KeywordSearchConfiguration type="Kotoha.KeywordSearchConfiguration, Kotoha">
        <param name="fieldNamePrefix">_ks</param>
        <targetFields hint="raw:AddTargetField">
          <field name="Title" boost="10" />
          <field name="Description" boost="5" />
          <field name="Tags" boost="5" />
          <field name="Body" boost="2" />
          <field name="Category" boost="2" />
          <field name="Author" boost="2" />
          <field name="Html Title" boost="0" />
          <field name="Meta Description" boost="0" />
          <field name="Meta Keywords" boost="0" />
        </targetFields>
      </KeywordSearchConfiguration>
    </kotoha>
  </sitecore>
</configuration>
