<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <kotoha>
      <configuration type="Kotoha.KeywordSearchConfiguration, Kotoha">
        <!-- A KeywordSearchOptions that is used when no options supplied. -->
        <defaultKeywordSearchOptions type="Kotoha.KeywordSearchOptions, Kotoha">
          <SearchType>And</SearchType>
          <Condition>Contains</Condition>
        </defaultKeywordSearchOptions>
        <searchTargets hint="list:AddSearchTarget">
          <searchTarget id="blog" type="Kotoha.KeywordSearchTarget, Kotoha">
            <!-- A identifier of this search target. This must be unique across search targets. -->
            <param desc="id">$(id)</param>
            <!--
              Target fields and its boosting values of a keyword search.
              If you want to use a field without boosting, remove the boost attribute or specify 0 to that's value.
            -->
            <fields hint="raw:AddField">
              <field name="Title"             boost="5" />
              <field name="Tags"              boost="4" />
              <field name="Body"              boost="4" />
              <field name="Category"          boost="2" />
              <field name="Author"            boost="2" />
              <field name="Html Title"                  />
              <field name="Meta Description"            />
              <field name="Meta Keywords"               />
            </fields>
          </searchTarget>
        </searchTargets>
      </configuration>
    </kotoha>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration  search:require="azure">
          <documentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch">
            <!-- A computed field for keyword search. Set the search target's ID to the 'searchTargetId' attribute. -->
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="ks_blog" searchTargetId="blog" type="Kotoha.KeywordSearchContentIndexField, Kotoha"  />
            </fields>
            <!-- 
              NOTE: When you use Azure Search and indexAllFields is setting to false,
                    the boosted fields have to be added to index.
            -->
            <include hint="list:AddIncludedField">
              <__Bucketable>{C9283D9E-7C29-4419-9C28-5A5C8FF53E84}</__Bucketable>
              <Title>{81E9FCD9-9806-40A5-90CA-3365DE80D3FF}</Title>
              <Tags>{34D69283-63AC-4E38-B39B-88FB7C521955}</Tags>
              <Body>{C6C8B721-6C6C-49D3-87EC-C16C43C61826}</Body>
              <Category>{E7956EAD-CCBB-49B9-A982-A835A7FD44E3}</Category>
              <Author>{81826AE3-B77C-4685-B5AF-6A791C1F9BD2}</Author>
            </include>
          </documentOptions>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
